
.right-timeline {
    color: #fff;
}

.right-timeline h1 {
    background: #3d9e67;
    padding: 70px 0;
    font-size: 2.5em;
    text-align: center;
}
.right-timeline ul {
    background: #faf8eb;
    padding: 50px 0;
}
.right-timeline ul li {
    background: #723F79;
    position: relative;
    margin: 0 auto;
    width: 3px;
    padding-bottom: 40px;
    list-style-type: none;
}
.right-timeline ul li:last-child {
    padding-bottom: 7px;
}
.right-timeline ul li:before {
    content: '';
    background: #D8A7DB;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid #723F79;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.right-timeline ul li .hidden {
    opacity: 0;
}
.right-timeline ul li .content {
    background: #723F79;
    position: relative;
    top: 7px;
    width: 262px;
    padding: 0px;
}
.right-timeline ul li .content h2 {
    color: #fff;
    padding-bottom: 10px;
    text-align: center;
}
.right-timeline ul li .content p {
    text-align: center;
}
.right-timeline ul li .content:before {
    content: '';
    background: #723F79;
    position: absolute;
    top: 0px;
    width: 38px;
    height: 3px;
}
.right-timeline ul li:nth-child(odd) .content {
    left: 50px;
    background: #00ffff00;
    background: -webkit-linear-gradient(45deg, #00ffff00, #00ffff00);
    background: linear-gradient(45deg, #00ffff00, #00ffff00);
}
.right-timeline ul li:nth-child(odd) .content:before {
    left: -38px;
}

.right-timeline ul li:nth-child(even) .content {
    left: 50px;
    background: #00ffff00;
    background: -webkit-linear-gradient(45deg, #00ffff00, #00ffff00);
    background: linear-gradient(45deg, #00ffff00, #00ffff00);
}
.right-timeline ul li:nth-child(even) .content:before {
    left: -38px;
}
/* .right-timeline ul li:nth-child(even) .content {
    left: calc(-262px - 45px);
    background: #723F79;
    background: -webkit-linear-gradient(45deg, #56bc83, #723F79);
    background: linear-gradient(45deg, #56bc83, #723F79);
}
.right-timeline ul li:nth-child(even) .content:before {
    right: -38px;
} */
/* ------------------------- ----- Media Queries ----- ------------------------- */
@media screen and (max-width: 1020px) {
    .right-timeline ul li .content {
        width: 41vw;
   }
    .right-timeline ul li:nth-child(even) .content {
        left: calc(-41vw - 45px);
   }
}
@media screen and (max-width: 700px) {
    .right-timeline ul li {
        margin-left: 20px;
   }
    .right-timeline ul li .content {
        width: calc(100vw - 100px);
   }
    .right-timeline ul li .content h2 {
        text-align: initial;
   }
    .right-timeline ul li:nth-child(even) .content {
        left: 45px;
        background: #723F79;
        background: -webkit-linear-gradient(-45deg, #56bc83, #723F79);
        background: linear-gradient(-45deg, #56bc83, #723F79);
   }
    .right-timeline ul li:nth-child(even) .content:before {
        left: -33px;
   }
}
